<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<title>議員データベースＴＯＰ</title>
</head>

<body bgcolor="#FFFFCC">

<table border="0" cellspacing="0" cellpadding="0" width="758" height="187">
  <tr>
    <td width="379" height="60" rowspan="2">
      <p align="center">
      <p align="left"><b><font size="4" color="#AABC63">●</font><font size="4"><font color="#97BC96">●</font><font color="#C6DCAB">●</font><font color="#008080">公明党　議員</font></font></b><font color="#008080" size="4"><b>データベース</b></font><b><font size="4"><font color="#C6DCAB">●</font><font color="#97BC96">●</font></font><font size="4" color="#AABC63">●</font></b></td>
    <td width="5" height="31">
    </td>
    <td width="223" height="31" valign="bottom">
      　</td>
    <td width="149" height="31" valign="bottom">
      <p align="right"><b><font color="#FF6600">●</font><font face="ＭＳ Ｐゴシック"><a target="_top" href="http://gwcb6.it.komei.or.jp/scripts/cbag/ag.exe?">サイボウズＴＯＰ</a></font></b></td>
    <td width="1" height="31" valign="bottom">
      </td>
  </tr>
  <tr>
    <td width="60" height="29"></td>
    <td width="221" height="29"></td>
    <td width="177" height="29">
    <p align="right"><b><font size="2" color="#FF6600">選挙対策委員会専用</font></b></td>
    <td width="19" height="29"></td>
  </tr>
  <tr>
    <td width="750" bgcolor="#C6DCAB" height="17" colspan="5">
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#3333CC">　</font></b></p>
    </td>
    </tr>
  <tr>
    <td width="750" height="1" colspan="5"></td>
    </tr>
  <tr>
    <td width="750" bgcolor="#FFFFE6" height="300" colspan="5" valign="top">
<p style="margin-top: 0; margin-bottom: 0"><b><font size="2" color="#3333CC">　</font></b></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#3333CC">　　　</font><font color="#FF6600">●使用方法</font></b></p>

<p style="margin-top: 0; margin-bottom: 0">　</p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#666666" size="2">　　　左の画面より議員名を選ぶと、議員が履歴カードに記入したデータが表示されます。</font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#666666" size="2">　　　また、履歴カード
・議員カードをEXCELに出力する事ができます。</font></p>
<p style="margin-top: 0; margin-bottom: 0">　</p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF6600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
●カナ検索</font></b></p>

<p style="margin-top: 0; margin-bottom: 0"><font color="#3333CC" size="2">
　</font><font color="#666666" size="2">　　表示したい議員の氏名（カナ）を入力し、検索ボタンを押すと検索結果が表示されます。議員名を選択し、データを表示させます。</font></p>
<p style="margin-top: 0; margin-bottom: 0"><font size="2" color="#666666">　　　※検索のコツ（</font><font color="#FF0000" size="2">○</font><font color="#666666" size="2">名字カナのみ入力・</font><font color="#FF0000" size="2">○</font><font color="#666666" size="2">名前カナのみ入力・</font><font color="#FF0000" size="2">×</font><font color="#666666" size="2">フルネーム入力）</font></p>
<form method="POST" action="search_s.asp">
</b>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#666666">　　　議員名（カナ・ひらがな　どちらでもOKです）　　</font></b><font color="#666666"><input type="text" name="name" size="20" style="font-size: 12pt; ime-mode: active">　　　<input type="submit" value="検    索" name="B1"></font></p>
<p style="margin-top: 0; margin-bottom: 0"></p>
</form>
<p style="margin-top: 0; margin-bottom: 0">　　　<b><font color="#FF6600">●議会名検索
：EXCEL出力</font></b></p>
<form method="POST" action="excel_gikai_hyoji.asp">
<p style="margin-top: 0; margin-bottom: 0"><font color="#666666">　</font><b><font color="#666666">　　議会名<font size="2">（○○県、○○区、○○市、○○町、○○村と入力）</font>　</font></b><font color="#666666"><input type="text" name="Sgikai" size="18" style="font-size: 12pt; ime-mode: active"><b>議会</b>　　　<input type="submit" value="検    索" name="B2"></font></p>
</form>
<form method="POST" action="../New_Giindb/search_all.asp">
<p style="margin-top: 0; margin-bottom: 0">　　　<font color="#FF6600"><b>●検索</b></font><font size="2" color="#666666">　下記のいづれかにチェックを入れて、検索文字を入力して下さい。</font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#FF6600"><b>　</b></font><b><font size="2" color="#FF6600">　</font><font size="2" color="#666666">　<input type="radio" value="V1" name="R1">出身校(本人の全学歴から検索)　<input type="radio" value="V2" name="R1">出身地</font></b></p>
<p style="margin-top: 0; margin-bottom: 0"><font size="2" color="#666666"><b>　</b></font><b><font size="2" color="#666666">　　<input type="radio" value="V3" name="R1">住所(現住所・本籍住所・勤務先住所から検索)　
　</font></b><font color="#666666"><input type="text" name="name2" size="20" style="font-size: 12pt; ime-mode: active">　<b>　</b>　<input type="submit" value="検    索" name="B2"></font></p>
</form>

<p style="margin-top: 0; margin-bottom: 0">　　　<b><font color="#FF6600">●任期満了日チェック</font></b><font size="2" color="#666666">　下記の日付範囲を指定して、表示ボタンを押してください。</font></p>
<form method="POST" action="../New_Giindb/ninman_chk.asp">
<p style="margin-top: 0; margin-bottom: 0"><font color="#666666"><b>　　　</b></font><font color="#666666"><b>開始日：</b></font><b><select name="DT0">
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
</select><font color="#666666">年</font> <select name="DT1">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select><font color="#666666">月</font></b> <b><select name="DT2">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select></b><font color="#666666"><b>日　～　終了日</b></font><b><font color="#666666">：</font><select name="D0">
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
</select><font color="#666666">年 </font> <select name="D1">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select><font color="#666666">月</font></b> <b><select name="D2">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select></b><font color="#666666"><b>日　　　</b><input type="submit" value="表    示" name="B2"></font></p>
</form>

<p style="margin-top: 0; margin-bottom: 0">　　　<b><font color="#FF6600">●公認申請チェック</font></b></p>
<form method="POST" action="../New_Giindb/konin_chk_g.asp">
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#666666">　　　<font size="2">議会名（○○市、△△町等）で検索　</font></font></b><font color="#666666"><input type="text" name="gikai" size="20" style="font-size: 12pt; ime-mode: active">　　　<input type="submit" value="検    索" name="B1"></font></p>
</form>
<form method="POST" action="../New_Giindb/konin_chk_k.asp">
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#666666">　　　<font size="2">県名で検索　</font></font></b><select name="ken_cd" style="font-size: 12pt">
    <option value="00">全県
    <option value="01">北海道
    <option value="02">青森
    <option value="03">岩手
    <option value="04">宮城
    <option value="05">秋田
    <option value="06">山形
    <option value="07">福島
    <option value="08">茨城
    <option value="09">栃木
    <option value="10">群馬
    <option value="11">埼玉
    <option value="12">千葉
    <option value="13">東京
    <option value="14">神奈川
    <option value="15">新潟
    <option value="16">富山
    <option value="17">石川
    <option value="18">福井
    <option value="19">山梨
    <option value="20">長野
    <option value="21">岐阜
    <option value="22">静岡
    <option value="23">愛知
    <option value="24">三重
    <option value="25">滋賀
    <option value="26">京都
    <option value="27">大阪
    <option value="28">兵庫
    <option value="29">奈良
    <option value="30">和歌山
    <option value="31">鳥取
    <option value="32">島根
    <option value="33">岡山
    <option value="34">広島
    <option value="35">山口
    <option value="36">徳島
    <option value="37">香川
    <option value="38">愛媛
    <option value="39">高知
    <option value="40">福岡
    <option value="41">佐賀
    <option value="42">長崎
    <option value="43">熊本
    <option value="44">大分
    <option value="45">宮崎
    <option value="46">鹿児島
    <option value="47">沖縄
  </select><font color="#666666"><b><font size="2">　(公認申請されているデータのみ表示します)　</font>　　</b><input type="submit" value="検    索" name="B3"></font></p>
</form>
<form method="POST" action="../New_Giindb/konin_chk.asp">
<input type="hidden" name="pg" value="">
<p style="margin-top: 0; margin-bottom: 0"><font color="#666666"><b>　　　</b></font><b><font size="2" color="#666666">任期満了日で検索　</font><select name="DT0">
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
</select><font color="#666666">年</font> <select name="DT1">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select><font color="#666666">月</font></b> <b><select name="DT2">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select></b><font color="#666666"><b>日　～　</b></font><b><select name="D0">
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
</select><font color="#666666">年 </font> <select name="D1">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select><font color="#666666">月</font></b> <b><select name="D2">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select></b><font color="#666666"><b>日　　　</b><input type="submit" value="表    示" name="B2"></font></p>
</form>

<p style="margin-top: 0; margin-bottom: 0">　　　<b><font color="#FF6600">●各県議員一覧：EXCEL出力</font></b></p>
<form method="POST" action="../New_Giindb/excel_ken_hyoji_sp.asp">
<p style="margin-top: 0; margin-bottom: 0"><font color="#666666"><b>　　　</b></font><b><font color="#666666">県名検索　</font></b><select name="Sken_cd" style="font-size: 12pt">
    <option value="48">衆議院
    <option value="49">参議院
    <option value="50">都議会
    <option value="51">全国道府県会
    <option value="52">全国政令市
    <option value="53">東京特別区
    <option value="01">北海道
    <option value="02">青森
    <option value="03">岩手
    <option value="04">宮城
    <option value="05">秋田
    <option value="06">山形
    <option value="07">福島
    <option value="08">茨城
    <option value="09">栃木
    <option value="10">群馬
    <option value="11">埼玉
    <option value="12">千葉
    <option value="13">東京
    <option value="14">神奈川
    <option value="15">新潟
    <option value="16">富山
    <option value="17">石川
    <option value="18">福井
    <option value="19">山梨
    <option value="20">長野
    <option value="21">岐阜
    <option value="22">静岡
    <option value="23">愛知
    <option value="24">三重
    <option value="25">滋賀
    <option value="26">京都
    <option value="27">大阪
    <option value="28">兵庫
    <option value="29">奈良
    <option value="30">和歌山
    <option value="31">鳥取
    <option value="32">島根
    <option value="33">岡山
    <option value="34">広島
    <option value="35">山口
    <option value="36">徳島
    <option value="37">香川
    <option value="38">愛媛
    <option value="39">高知
    <option value="40">福岡
    <option value="41">佐賀
    <option value="42">長崎
    <option value="43">熊本
    <option value="44">大分
    <option value="45">宮崎
    <option value="46">鹿児島
    <option value="47">沖縄
  </select><font color="#666666"><b>　　　</b><input type="submit" value="表    示" name="B2"></font></p>
</form>
<p style="margin-top: 0; margin-bottom: 0">　　　<b><font color="#FF6600">●2011年統一選任期満了議員一覧：<a href="touitu11_excel_out.asp">EXCEL出力</a></font></b></p>
<p style="margin-top: 0; margin-bottom: 0">　</p>
<p style="margin-top: 0; margin-bottom: 0">　</p>
    </td>
    </tr>
  <tr>
    <td width="750" bgcolor="#C6DCAB" height="16" colspan="5">
　</td>
    </tr>
  </table>

</body>

</html>
