<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
<title>ＴＯＰ</title>
</head>

<body bgcolor="#FFFFCC">

<table border="0" cellspacing="0" cellpadding="0" width="758" height="187">
  <tr>
    <td width="379" height="60" rowspan="2">
      <p align="center">
      <p align="left"><b><font size="4" color="#AABC63">●</font><font size="4"><font color="#97BC96">●</font><font color="#C6DCAB">●</font><font color="#008080">公明党　議員</font></font></b><font color="#008080" size="4"><b>データベース</b></font><b><font size="4"><font color="#C6DCAB">●</font><font color="#97BC96">●</font></font><font size="4" color="#AABC63">●</font></b></td>
    <td width="5" height="31">
    </td>
    <td width="223" height="31" valign="bottom">
      <p align="center" style="margin-top: 0; margin-bottom: 0"><b>
      <font color="#FF6600">●</font><a href="../menupanel/menupanel.asp" target="_top">メニューパネルＴＯＰ</a></b></td>
    <td width="149" height="31" valign="bottom">
      <p align="center"><b><font color="#FF6600">●</font><font face="ＭＳ Ｐゴシック"><a href="http://gw.it.komei.or.jp/Scripts/cb4/office.exe?" target="_top">サイボウズＴＯＰ</a></font></b></td>
    <td width="1" height="31" valign="bottom">
      </td>
  </tr>
  <tr>
    <td width="60" height="29"></td>
    <td width="221" height="29"></td>
    <td width="177" height="29"></td>
    <td width="19" height="29"></td>
  </tr>
  <tr>
    <td width="750" bgcolor="#C6DCAB" height="17" colspan="5">
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#3333CC">　</font></b></p>
    </td>
    </tr>
  <tr>
    <td width="750" height="1" colspan="5"></td>
    </tr>
  <tr>
    <td width="750" bgcolor="#FFFFE6" height="300" colspan="5" valign="top">
<p style="margin-top: 0; margin-bottom: 0"><b><font size="2" color="#3333CC">　</font></b></p>

<p style="margin-top: 0; margin-bottom: 0">　</p>
    </td>
    </tr>
  <tr>
    <td width="750" bgcolor="#C6DCAB" height="16" colspan="5">
　</td>
    </tr>
  </table>

</body>

</html>
